<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
      form {
        display: flex;
        flex-direction: column;
        width: 40%;
      }
    </style>
    <title>submit</title>
  </head>
  <body>
    <form class="" action="/topic" method="post">
      <input type="text" name="title" placeholder="title" value="">
      <textarea name="description" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
